# Server
PORT=5001
MONGO_URI=mongodb://localhost:27017/collaboration-platform
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d
CLIENT_URL=http://localhost:5173
REDIS_URL=redis://localhost:6379

# Client
VITE_SOCKET_URL=
